header{
    background-color: rgb(55, 184, 249);
    background-image: url(../img/pattern.png);
    background-attachment: fixed;
}

.logo{
    width: 128px;
    height: 128px;
}

.writed-by{
    color: gray;
}

.booleaner{
    color: rgb(0, 110, 255);
}

.date{
    font-size: small
}

.paragraph-1{
    background-color: yellow;
}

.head{
    background-color: rgba(14, 125, 209, 0.981);
    color: white;
}

.first-lorem{
    background-color: rgba(17, 198, 219, 0.645);
}

.third-lorem{
    background-color: rgba(17, 198, 219, 0.645);
}

.paragraph-2{
    background-color: yellow;
}

h3{
    color: gray;
}

.foot-img1{
    background-image: url(../img/monitor.jpg);
    color: white;
}

.foot-img2{
    background-image: url(../img/graph.jpg);
    color: white;
}

table{
   text-align: left;
   border-spacing: 0cm;
}